@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap'); 

*{
    margin: 0;
    padding: 0;
}
:root {
      --fonte-titulo:
      --fonte-texto: 
      






}

body{
     background-color: var()
     font-family: var()
}

header{
    background-color: var();
    padding: 2em;
    color: var();
    text-align: center;
    font-family: var();
    font-size: 1.5em;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a{
    text-decoration: none;
    color: var();
}